{% extends 'main/base.html' %}
{% load static %}
{% block body %}

<div class="col-12">

    <!-- Main Content -->
    <section>
        <header>
            <h2>Rechercher</h2>
            <h3>Rechercher un film suivant des critères</h3>
        </header>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}

            <input class="button-large" type="submit" value="Rechercher" title="Rechercher le film"/>
        </form>
    </section>

    <section>
        <header>
            <h2>Les Films</h2>
            <h3>Résultat de recherche</h3>
        </header>
        {% for film in infos %}
            {% if not film.Titre and film.Titre == "" and not film.Réalisateur and film.Réalisateur == "" %}
                <a href="{% url 'pagefilm' film.Id %}" >Pas de titre</a>
            {% else %}
                <a href="{% url 'pagefilm' film.Id %}" >
                    {% if film.Titre and film.Titre != "" %}
                        {{ film.Titre }}
                    {% endif %}
                    {% if film.Réalisateur and film.Réalisateur != "" %}
                        de {{ film.Réalisateur }}
                    {% endif %}
                </a>
            {% endif %}
            <br/>
        {% endfor %}

    </section>

</div>

{% endblock %}